<a href="https://colab.research.google.com/github/mphipps2/covid-19_open_data_projects/blob/main/covid_Jan6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
project_id = "covid"

from google.colab import auth

import humanize
auth.authenticate_user()
print('Authenticated')

from google.cloud import bigquery
import pandas as pd

my_project = "bigquery-public-data"
my_dataset = "covid19_jhu_csse"
#my_table = "confirmed_cases"
my_table = "summary"
client = bigquery.Client(project=project_id)

Authenticated

In [ ]:

dataset_ref = client.dataset(my_dataset,project=my_project)

dataset = client.get_dataset(dataset_ref)
tables = list(client.list_tables(dataset))
for table in tables:
        print(table.table_id)

table_ref = dataset_ref.table(my_table)
table = client.get_table(table_ref)
print(table.schema)

df = client.list_rows(table, max_results=5).to_dataframe()
df.head()

confirmed_cases
deaths
recovered_cases
summary
[SchemaField('province_state', 'STRING', 'NULLABLE', None, ()), SchemaField('country_region', 'STRING', 'NULLABLE', None, ()), SchemaField('date', 'DATE', 'NULLABLE', None, ()), SchemaField('latitude', 'FLOAT', 'NULLABLE', None, ()), SchemaField('longitude', 'FLOAT', 'NULLABLE', None, ()), SchemaField('location_geom', 'GEOGRAPHY', 'NULLABLE', None, ()), SchemaField('confirmed', 'INTEGER', 'NULLABLE', None, ()), SchemaField('deaths', 'INTEGER', 'NULLABLE', None, ()), SchemaField('recovered', 'INTEGER', 'NULLABLE', None, ()), SchemaField('active', 'INTEGER', 'NULLABLE', None, ()), SchemaField('fips', 'STRING', 'NULLABLE', None, ()), SchemaField('admin2', 'STRING', 'NULLABLE', None, ()), SchemaField('combined_key', 'STRING', 'NULLABLE', None, ())]

        province_state country_region  ... admin2                  combined_key
0      Castilla y Leon          Spain  ...   None        Castilla y Leon, Spain
1     Gilgit-Baltistan       Pakistan  ...   None    Gilgit-Baltistan, Pakistan
2  Nordrhein-Westfalen        Germany  ...   None  Nordrhein-Westfalen, Germany
3               Biobio          Chile  ...   None                 Biobio, Chile
4               Bayern        Germany  ...   None               Bayern, Germany

[5 rows x 13 columns]

In [ ]:
query = """
SELECT
  country_region, SUM(confirmed) as confirmed_sum, SUM(deaths) as deaths_sum, SUM(recovered) as recovered_sum
FROM
  `bigquery-public-data.covid19_jhu_csse.summary`
WHERE
  date = '2020-10-12'
GROUP BY country_region
ORDER BY confirmed_sum desc;
"""
ONE_GB = 1000*1000*1000
safe_config = bigquery.QueryJobConfig(maximum_bytes_billed=ONE_GB)
query_results = client.query(query, job_config=safe_config)
print("query results type: ", type(query_results))
#results = query_results.to_dataframe()
df = pd.DataFrame(query_results)
for col in df.columns:
        print(col)

print("number of results: " , len(df))